---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/3DHero.astro";
import Work from "../components/Work.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Will Carter Portfolio">
  <main class="flex flex-col bg-offw text-dark dark:bg-dark dark:text-offw">
    <Hero class="mt-20"/>
    <div class="container-lg max-w-5xl px-4 mx-auto">
      <Work />
      <Contact />
    </div>
  </main>
</Layout>
