---
import Layout from "../layouts/Layout.astro";
import WorkCard from "../components/WorkCard.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import Work from "../components/Work.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Welcome to Astro.">
  <main class="flex flex-col bg-offw">
    <Navbar />
    <div class="container max-w-5xl px-4 mt-20 mx-auto">
      <Hero />
      <Work />
      <Contact />
    </div>
  </main>
</Layout>
