---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Work from "../components/Work.astro";
import Contact from "../components/Contact.astro";
---

<Layout title="Will Carter Portfolio">
  <main class="flex flex-col bg-offw">
    <div class="container-lg max-w-5xl mt-20 px-4 mx-auto">
      <Hero />
      <Work />
      <Contact />
    </div>
  </main>
</Layout>


