---
import Layout from "../layouts/Layout.astro";
import WorkComponent from "../components/Work.astro";
---

<Layout title="Will Carter Portfolio">
  <main class="flex flex-col bg-offw text-dark dark:bg-dark dark:text-offw">
    <div class="container-lg max-w-5xl px-4 mx-auto mt-20">
      <WorkComponent />
    </div>
  </main>
</Layout>
