---
import My3DComponent from './3DComponent.jsx';
---

<section style="width: 100%; height: 80vh;">
  <h2 class=" mt-[30vh] ml-[2vw] text-6xl absolute font-semibold delay-def">Will Carter</h2>
  <p class="mt-[38vh] ml-[2vw] text-2xl absolute " >Developer | Designer | Creative</p>
  <My3DComponent client:load style="top: 0; left: 0; width: 100%; height: 100%" />
  <div>
  </div>
</section>
