---
import My3DComponent from './3DComponent.jsx';
---

<section style="width: 100%; height: 80vh;">
  <My3DComponent client:load style="top: 0; left: 0; width: 100%; height: 100%" />
  <div>
    <!-- Your content goes here -->
  </div>
</section>
