---
import My3DComponent from './3DComponent.jsx';
---

<section style="width: 100%; height: 50vh; position: relative;">
  <My3DComponent client:load style="position: absolute; top: 0; left: 0; width: 100%; height: 100%" />
  <div style="position: relative;">
    <!-- Your content goes here -->
  </div>
</section>
