<div class="mt-10">
  <h3
    class="font-semibold text-2xl underline underline-offset-4 decoration-darkhl decoration-4 mt-3 mb-4"
  >
    Contact
  </h3>
</div>

<div class="flex flex-col items-start">
  <div class="flex items-center px-4 py-2 hover:bg-teal hover:bg-opacity-25 rounded-md">
    <img src="/github.svg" alt="github-icon" class="inline-block w-6 mr-1 fill-teal dark:fill-dteal" />
    <a class="text-teal dark:text-dteal text-base font-semibold" href="https://github.com/WilliamHCarter">
      @WilliamHCarter
    </a>
  </div>
  <div class="flex items-center px-4 py-2 hover:bg-teal hover:bg-opacity-25 rounded-md">
    <img src="/linkedin.svg" alt="linkedin-icon" class="inline-block w-6 mr-1 pt-1 fill-teal dark:fill-dteal" />
    <a class="text-teal dark:text-dteal text-base font-semibold" href="https://www.linkedin.com/in/williamhcarter/">
      @WilliamHCarter
    </a>
  </div>
  <div class="flex items-center px-4 py-2 hover:bg-teal hover:bg-opacity-25 rounded-md">
    <img src="/mail.svg" alt="mail-icon" class="inline-block w-6 mr-1 pt-1 fill-teal dark:fill-dteal" />
    <a class="text-teal dark:text-dteal text-base font-semibold" href="mailto:cartew4@rpi.edu">cartew4@rpi.edu</a>
  </div>
</div>

<div class="mb-20"></div>
