<div class="mt-10">
  <h3 class="font-semibold text-2xl underline underline-offset-6px decoration-4 mt-3 mb-4">
    Contact
  </h3>
</div>

<ul class="flex flex-col items-start gap-4 ml-4">
  <button>@WilliamHCarter</button>
  <button>cartew4@rpi.edu</button>
</ul>
