---
import ContactLink from "./ContactLink.astro";
import { contactLinks } from "../data/contact";
---

<div class="animate-intro-300">
  <div class="mt-10">
    <h3
      class="font-semibold text-2xl underline underline-offset-4 decoration-darkhl decoration-4 mt-3 mb-4"
    >
      Contact
    </h3>
  </div>

  <div class="flex flex-col items-start space-y-1">
    {contactLinks.map((link) => (
      <ContactLink icon={link.icon} href={link.href} text={link.text} />
    ))}
  </div>
  <div class="mb-20"></div>
</div>
