<div class="mt-10">
  <h3
    class="font-semibold text-2xl underline underline-offset-4 decoration-darkhl decoration-4 mt-3 mb-4"
  >
    Contact
  </h3>
</div>

<ul class="flex flex-col items-start gap-4 ml-4">
  <div class="flex items-center">
    <img src="/github.svg" class="inline-block w-6 mr-1 fill-teal" />
    <button class="text-teal text-base font-semibold">@WilliamHCarter</button>
  </div>
  <div class="flex items-center">
    <img src="/linkedin.svg" class="inline-block w-6 mr-1 pt-1 fill-teal" />
    <button class="text-teal text-base font-semibold">@WilliamHCarter</button>
  </div>
  <div class="flex items-center">
    <img src="/mail.svg" class="inline-block w-6 mr-1 pt-1 fill-teal" />
    <button class="text-teal text-base font-semibold">cartew4@rpi.edu</button>
  </div>
</ul>

<div class="mb-20"></div>
