<div class="relative h-[500px] overflow-hidden mt-20 w-full">
  <!-- Content -->
  <div class="flex flex-col items-center justify-center h-full w-full animate-intro-100 mt-5 delay-def">
    <h2 class="text-5xl font-semibold delay-def">Will Carter</h2>
    <p class="text-xl mt-1" >Developer | Designer | Creative</p>
  </div>
</div>