<div class="mt-5 delay-def">
  <h2 class="text-4xl font-semibold delay-def">Will Carter</h2>
  <p>Developer | Designer | Creative</p>
</div>
<div>
  <h3
    class="font-semibold text-2xl underline underline-offset-4 decoration-4 decoration-darkhl mt-3 mb-4"
  >
    Bio
  </h3>
  <p class="text-left indent-[1em] font-light" style="hyphens:auto">
    Digital design and product creation are what I love to do. With over 8 years of development
    experience, I have the technical skillset to create performant and scalable products, while
    maintaining accesible user experiences and a bit of creative flair. I have a variety of
    experience in agile software development, from startups, to academic research for universities,
    and even large technical firms.
  </p>
</div>
