<div class="flex" >
    <div id="image-container" class="inline-flex items-center h-8 pl-4 pt-1">
        <img src="/apple-touch-icon.png" width="27px" height="27px">
    </div>
    <h1 class="text-dark font-semibold ml-1 text-3xl">Will Carter</h1>
</div>