<div class="flex">
  <div id="image-container" class="inline-flex items-center h-8 pl-2 pt-1">
    <img src="/apple-touch-icon.png" alt="logo" width="27px" height="27px" class="dark:invert"/>
  </div>
  <h1 class="text-dark dark:text-offw font-semibold ml-1 text-3xl">Will Carter</h1>
</div>
