---
import { profile } from "../data/profile";
import { sitePath } from "../lib/site-path";
---

<div class="flex">
  <div id="image-container" class="inline-flex items-center h-8 pl-2 ml-[1vw]">
    <img src={sitePath("/apple-touch-icon.png")} alt="logo" width="22px" height="22px" class="dark:invert" />
  </div>
  <a class="text-dark dark:text-offw font-semibold ml-1 text-2xl" href={sitePath("/")}>{profile.name}</a>
</div>
