---
import { sitePath } from "../lib/site-path";
---

<div class="flex">
  <div id="image-container" class="inline-flex items-center h-8 pl-2 pt-1">
    <img src={sitePath("/apple-touch-icon.png")} alt="logo" width="27px" height="27px" class="dark:invert" />
  </div>
  <a class="text-dark dark:text-offw font-bold ml-1 text-3xl" href={sitePath("/")}>Will Carter</a>
</div>
