---
import { profile } from "../data/profile";
import { sitePath } from "../lib/site-path";
---

<div class="flex">
  <a class="text-dark dark:text-offw font-semibold ml-[1vw] text-2xl" href={sitePath("/")}
    >{profile.name}</a
  >
</div>
