---
export interface Props {
  title: string;
  body: string;
  src: string;
  link: string;
}

const {src, title, body, link } = Astro.props;
---

<div class="link-card flex p-1  mb-8 ">
  <a class="w-full no-underline leading-[1.4] flex flex-col" href={link}>
    <div class="w-full overflow-hidden rounded">
      <img class="img image object-cover scale-110 aspect-[16/10]" src={src} alt="Astro" />
    </div>
    <h2 class="text-xl mt-2 mb-0 ">
      {title}
    </h2>
    <p class="text-dark dark:text-offw mt-2 mb-0 mr-[15%]">
      {body}
    </p>
  </a>
</div>



