---
import WorkCard from "./WorkCard.astro";
---

<div class="mt-10">
  <h3
    class="font-semibold text-2xl underline underline-offset-4 decoration-darkhl decoration-4 mt-3 mb-4"
  >
    Work
  </h3>
</div>
<div class="grid grid-cols-[repeat(auto-fit,minmax(24ch,1fr))] gap-4 p-0">
  <WorkCard
    src="/BBOT.webp"
    title="BrokerBot"
    body="Autonomous trading alogrithms system utilizing backtesting via the Alpaca API."
    link="https://github.com/JackMansfield2019/BrokerBot"
  />
  <WorkCard
    src="/Crosswalk.webp"
    title="Crosswalk"
    body="Experimental physics game created with Unity for Ludum Dare 46."
    link="https://github.com/WilliamHCarter/LD46"
  />
</div>
