---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="William Carter Portfolio Homepage" />
    <meta name="author" content="William Carter" />
    <meta property="og:image" content="/thumbnail.webp" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <div class="fixed w-full mx-auto z-10 backdrop-blur-sm bg-[#ffffff60] dark:bg-dnav">
    <Navbar />
  </div>
  <body>
    <slot />
  </body>

  <style>
    @font-face {
      font-family: "s";
      src: url("/fonts/s.woff2") format("woff2");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "s";
      src: url("/fonts/s.woff2") format("woff2");
      font-weight: bold;
      font-style: normal;
      font-display: swap;
    }
  </style>


</html>
