---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
import "@fontsource/poppins/400.css";
import "@fontsource/poppins/500.css";
import "@fontsource/poppins/600.css";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
---

<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="William Carter Portfolio Homepage" />
    <meta name="author" content="William Carter" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <!-- Theme Script -->
    <script is:inline>
      const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
      let currentTheme = localStorage.getItem("theme");
      if (currentTheme != null) {
        document.documentElement.setAttribute("data-theme", currentTheme);
        localStorage.setItem("theme", currentTheme);
      }
    </script>
  </head>
  <div class="fixed w-full mx-auto">
    <Navbar />
  </div>
  <body>
    <slot />
  </body>

  <style>
    html[data-theme="light"] {
      background-color: rgb(252, 250, 249);
      color: #202023;
    }

    html[data-theme="dark"] {
      background-color: #202023;
      color: #f7f8f8;
    }

    @font-face {
      font-family: "s";
      src: url("/fonts/s.woff2") format("woff2");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
    @font-face {
      font-family: "s";
      src: url("/fonts/s.woff2") format("woff2");
      font-weight: bold;
      font-style: normal;
      font-display: swap;
    }
  </style>


</html>
