---
export interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
import "@fontsource/inter/400.css";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="William Carter Portfolio Homepage" />
    <meta name="author" content="William Carter" />
    <meta property="og:image" content="/thumbnail.webp" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script is:inline> 
          const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
          return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
          return "dark";
        }
        return "light";
      })();

      if (theme === "light") {
        document.documentElement.classList.remove("dark");
      } else {
        document.documentElement.classList.add("dark");
      }
      window.localStorage.setItem("theme", theme);
      let currentTheme = localStorage.getItem("theme");
      if (currentTheme != null) {
        document.documentElement.setAttribute("data-theme", currentTheme);
        localStorage.setItem("theme", currentTheme);
      }
    </script>
  </head>

  <body class="bg-offw dark:bg-dark">
    <div class="fixed w-full mx-auto z-10 backdrop-blur-sm bg-[#ffffff60] dark:bg-dnav">
      <Navbar />
    </div>
    <slot />
  </body>
</html>

<style>
    h3 {
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
    text-align: center;
  }

  @media only screen and (max-width: 700px) {
    h3 {
      font-size: 1.5rem;
    }
  }
</style>